* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFF6FF;
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 80vw;
    height: 80vw;
}

.form {
    background-color: #FFFFFF;
    padding: 20px 30px;
}

.img {
    float: left;
}

.there {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

.or {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    color: #2A4A5C;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 250px;
    left: 0; 
    top: 0;
    background: #EEEEEE;
    color: #2A4A5C;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 2em;
}

.natural {
    background-color: #EEEEEE;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.radio-container {
    display: flex;
}

.radio-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.person {
    margin-top: 50px;
    margin-bottom: 50px;
}

.facebook {
    background-color: #255A9B;
    font-size: 20px;
    color: #EEEEEE;
    text-align: center;
}

.facebook-img {
    background-color: #255A9B;
}

.linkedin {
    background-color: #0076B6;
    color: #EEEEEE;
    font-size: 20px;
    margin-left: 30px;
    padding: 5px;
}

.linkedin-img {
    background-color: #0076B6;
}

h2 {
    margin-top: 50px;
}

.inputs {
    display: flex;
    justify-content: space-around;
}

.email, .phone {
    position: relative;
}

.email label, .phone label {
    position: absolute;
    padding-left: 8px;
}

input {
    height: 40px;
    padding: 4px;
    padding-top: 10px;
}

input:focus {
    outline: none;
    box-shadow: none;
    border-left: 2px solid #3698FB;
}

.select {
    margin-top: 20px;
    margin-bottom: 20px;
}

.accoont {
    font-weight: bold;
    margin-top: 50px;
    background-color: #3698FB;
    color: #EEEEEE;
    border: #EEEEEE;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 5px;
}

.full {
    color: blue;
}

.check-label {
    display: flex;
    align-items: center;
}
